@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap");

.top_box h2 {
  color: white;
  /* text-shadow: 1px 1px 2px white; */
  font-size: 35px;
  font-family: Raleway;
  cursor: pointer;
}
.middle_box {
  display: flex;
  justify-content: space-between;
}

.top_box nav {
  width: 500px;
}

.nav_box {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.top_box ul {
  padding: 0;
}

.top_box ul li {
  font-size: 17px;
  color: #757575;
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.top_box ul li:hover {
  color: white;
  /* font-weight: 800; */
  text-shadow: 0 0 1px #333, 0 0 1px #333;
}

.top_box input {
  border: none;
  border-radius: 3px;
  width: 300px;
  height: 40px;
  background-color: #10161d;
  color: rgb(221, 220, 220);
  outline: none;
  text-indent: 15px;
}
.top_box input:focus::placeholder {
  color: transparent;
}

.top_box button {
  border: none;
  border-radius: 5px;
  height: 40px;
  background-color: #1a2837;
  color: white;
  margin-left: 15px;
  padding: 10px 12px;
  transition: all 0.3s;
  cursor: pointer;
}
.top_box button:hover {
  background-color: #28496d;
}

.search_box {
  margin-right: 30px;
}

section {
  display: flex;
  font-size: 22px;
  align-items: center;
}
section div {
  margin: 0;
}
section div h4 {
  margin-right: 30px;
  cursor: pointer;
  position: relative;
}
section div h4::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
section div h4:hover::before {
  visibility: visible;
  width: 100%;
}

section ul {
  font-size: 17px;
  color: #b9bdcc;
}
section ul li {
  margin-right: 30px;
}

.filter_text {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.3;
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  margin-top: 70px;
}
footer span {
  font-size: 17px;
  opacity: 0.4;
}
