@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  min-height: 100vh;
  margin: 0;
  font-family: Dancing Script;
  color: rgb(216, 227, 231);
}
